<div id="slide-container">

</div>


@section styles
{

    <link href="@Url.Content("~/Content/ParallaxCSS.css")" rel="stylesheet" />
    <style>
        .grid-system {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50px;
            left: 0;
            pointer-events: none;
        }

            .grid-system > table {
                width: 100%;
                height: 100%;
            }

                .grid-system > table td {
                    border: 1px aquamarine solid;
                }
    </style>
}

@section scripts
{
    <script type="text/javascript">
        var pId = '@(Url.RequestContext.RouteData.Values["id"] ?? Request.QueryString["id"])';
        var pUrl = '@Url.Action("JsonEdit", "PresentationManager")';

    </script>
    <script src="@Url.Content("~/Content/Plugins/Colpick/js/colpick.js")"></script>
    <script src="@Url.Content("~/Scripts/parllaxJS.js")"></script>

    <script type="text/javascript">

        var slides = '@ViewBag.DataJson';
        fnOpen(slides);

        $("#slide4").prepend("<div class='trigger'>trigger</div>");
        $('.trigger').css({
            color: "white",
            "border-top": "1px green solid",
            "border-bottom": "1px red solid",
            position: "absolute",
            right: 0,
            top: 10,
            width: 100,
            "z-index": 79
        });
        $('.trigger').draggable({ axis: "y" }).resizable({ handles: "n, s" });

        //function Init()
        $(".sortable").sortable({
            start: function (event, ui) {
                ui.item.startPos = ui.item.index();
            },
            stop: function (event, ui) {
                var startPos = ui.item.startPos;
                var endPos = ui.item.index();
                if (startPos != endPos) {
                    var pWrapper = "#slide-container";
                    var pItem = ".slide";
                    if (ui.item.find('[data-layer]').length > 0) {
                        pWrapper = objPSlide.ActiveId();
                        pItem = ".layer";
                    }
                    var startLayer = $(elementID(pWrapper) + ' ' + pItem).eq(startPos).attr("id");
                    var endLayer = $(elementID(pWrapper) + ' ' + pItem).eq(endPos).attr("id");
                    if (startPos > endPos)
                        $(elementID(startLayer)).insertBefore(elementID(endLayer));
                    else
                        $(elementID(startLayer)).insertAfter(elementID(endLayer));

                    //if item is layer change z-index layer
                    if (ui.item.find('[data-layer]').length > 0)
                        fnLayerSetIndex();
                }
            }
        }).disableSelection();
        $('body').prepend($('.logo'));
        $('.logo').on("click", function () {

            var $navbar = $('.navbar');
            if ($navbar.is(':hidden')) {
                $('.p-controller,.navbar').fadeIn(500);
                TweenMax.to('body', 1, { "padding-top": 50, ease: Linear.easeNone });
            }
            else {
                $('.p-controller,.navbar').fadeOut(500);
                TweenMax.to('body',1,{"padding-top":0, ease: Linear.easeNone});
            }
        });
        $('.grid-btn').on("click", function () {
            if ($('.grid-system').is(":hidden")) {
                $('.grid-system').fadeIn();
            } else {
                $('.grid-system').fadeOut();
            }
        });
        $('.grid-block').on("blur", function () {
            fnGridSystem();
        });

        $('.grid-color').colpick({
            colorScheme: 'dark',
            layout: 'hex',
            color: '7FFFD4',
            submit: 0,
            onChange: function (hsb, hex, rgb, el, bySetColor) {
                $(el).css('background-color', '#' + hex);
                $('.grid-system table td').css('border-color', '#' + hex);
                if (!bySetColor) $(el).val(hex);
            }
        }).keyup(function () {
            $(this).colpickSetColor(this.value);
        });
    </script>
}
