<div id="slide-container">

</div>
<div></div>


@section styles
{

    <link href="@Url.Content("~/Content/ParallaxCSS.css")" rel="stylesheet" />
}

@section scripts
{
    <script type="text/javascript">
        var pId = '@(Url.RequestContext.RouteData.Values["id"] ?? Request.QueryString["id"])';
        var pUrl = '@Url.Action("JsonEdit", "PresentationManager")';

    </script>
    <script src="@Url.Content("~/Content/Plugins/Colpick/js/colpick.js")"></script>
    <script src="@Url.Content("~/Scripts/parllaxJS.js")"></script>

    <script type="text/javascript">

        var slides = '@ViewBag.DataJson';
        fnOpen(slides);


        //function Init()
        $(".sortable").sortable({
            start: function (event, ui) {
                ui.item.startPos = ui.item.index();
            },
            stop: function (event, ui) {
                var startPos = ui.item.startPos;
                var endPos = ui.item.index();
                if (startPos != endPos) {
                    var pWrapper = "#slide-container";
                    var pItem = ".slide";
                    if (ui.item.find('[data-layer]').length > 0) {
                        pWrapper = objPSlide.ActiveId();
                        pItem = ".layer";
                    }
                    var startLayer = $(elementID(pWrapper) + ' ' + pItem).eq(startPos).attr("id");
                    var endLayer = $(elementID(pWrapper) + ' ' + pItem).eq(endPos).attr("id");
                    if (startPos > endPos)
                        $(elementID(startLayer)).insertBefore(elementID(endLayer));
                    else
                        $(elementID(startLayer)).insertAfter(elementID(endLayer));

                    //if item is layer change z-index layer
                    if (ui.item.find('[data-layer]').length > 0)
                        fnLayerSetIndex();
                }
            }
        }).disableSelection();

        ////JQUERY ACTION
        //var controller;
        //$(document).ready(function ($) {
        //    // init controller
        //    controller = new ScrollMagic();
        //    $(document).ready(function () {
        //        // build scene
        //        var scene = new ScrollScene({ triggerElement: "#slide2", duration: 300 })
        //            .setTween(TweenMax.fromTo("#layer2", 1, { "top": "-340px", rotation: 360 }, { "top": "100px", rotation: 0 }))
        //    //.setPin("#layer2")
        //    .addTo(controller);
        //    });

        //});

    </script>
}
