@{
    Layout = "../Shared/_LayoutEditor.cshtml";
}
<div id="slide-wrapper">

</div>
@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Plugins/colorbox/colorbox.css")" />
}
@section scripts
{
    <script src="@Url.Content("~/Content/Plugins/colorbox/jquery.colorbox-min.js")"></script>
    <script src="@Url.Content("~/Scripts/StringPropetype.js")"></script>
    <script src="@Url.Content("~/Scripts/screen.js")"></script>
    <script src="@Url.Content("~/Scripts/ParallaxAnimation.js")"></script>
    <script src="@Url.Content("~/Scripts/parllaxJS_OOP.js")"></script>
    <script type="text/javascript">

        var pId = '@(Url.RequestContext.RouteData.Values["id"] ?? Request.QueryString["id"])';
        var pUrl = '@Url.Action("JsonEdit", "PresentationManager")';


        var p = new ParallaxScroller('@Url.Action("ParallaxProperties")');
        p.LoadPropertyScript('@Url.Content("~/Scripts/ParallaxProperties.js")', '@Url.Action("ParallaxProperties")');
        p.LoadAnimationScript('@Url.Content("~/Scripts/ParallaxAnimation.js")',
                                                '@Url.Action("ParallaxAnimation")',
                                                    "#animation-duration",
                                                    "#animation-start",
                                                    "#animation-repeat",
                                                    "#animation-auto",
                                                    "#animation-delay");

        $(function () {
            p.InitLayer("#layer-controller", '@Url.Action("LayerEditor")');
            p.LayerButtons({ Text: ".create-layer-text", Image: ".create-layer-image", IFrame: ".create-layer-iframe" },
                            "#layer-tools .btn-animation",
                            {
                                Width: "#layer-width",
                                Height: "#layer-height",
                                Top: "#layer-top",
                                Left: "#layer-left"
                            }
            );

            p.InitSlide("#slide-controller", "#slide-wrapper");
            p.SlideButtons("#slide-tools .btn-create",
                            "#slide-tools .btn-animation",
                            '#slide-width',
                            '#slide-height');


            $('.btn-save').on("click", function () {
                p.Save(pId, pUrl);
            });
            var slides = '@ViewBag.DataJson';
            p.Open(slides);
            p.ControlLayer();
            p.ControlSlide();
        });

        function setLayerValue(name, value, css) {
            p.SetValueLayer(name, value, css);
        }

        function setProperties(elm, css) {
            p.Properties.Set(elm, css);
        }

        function setAnimation(elm, animation) {
            p.Animation.Set(elm, animation);
        }
    </script>
}

