@using Newtonsoft.Json
@model CDNVN.ParallaxPage.Models.Presentation

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_LayoutPreview.cshtml";
    dynamic slides = JsonConvert.DeserializeObject(HttpUtility.UrlDecode(Model.JsonSlide));
    var animation = "";
    var style = "";

}

@foreach (var slide in slides)
{
    <div class="slide" id="@slide["id"]">
        <div class="slide-container">
            @{
    var layers = slide["layers"];
    style += string.Format("#{0} {{ {1} }} ", slide["id"], slide["style"]);
    var slideAnimations = slide["animations"];
    foreach (var slideAnimation in slideAnimations)
    {
        animation += "parallax.Animation('#" + slide["id"] + "', '" + slideAnimation["name"] + "', " + slideAnimation["duration"] + ", " + slideAnimation["start"] + ", " + slideAnimation["repeat"] + ", " + slideAnimation["auto"].ToString().ToLower() + "); ";
    }

            }
            @foreach (var layer in layers)
            {
                style += string.Format("#{0} {{ {1} }} ", layer["id"], layer["style"]);
                var layerAnimations = layer["animations"];
                foreach (var layerAnimation in layerAnimations)
                {
                    animation += "parallax.Animation('#" + layer["id"] + "', parallax." + layerAnimation["value"] + ", " + layerAnimation["duration"] + ", " + layerAnimation["start"] + ", " + layerAnimation["repeat"] + ", " + layerAnimation["auto"].ToString().ToLower() + "); ";
                }
                <div class="layer" id="@layer["id"]">
                    <div class="layer-container" style="width: 100%;height: 100%">
                        @Html.Raw(layer["content"])
                    </div>
                </div>
            }
        </div>
    </div>
}
@section styles
{
    <style>
        .trigger {
            position: absolute;
            border-top: 1px green solid;
            border-bottom: 1px red solid;
            z-index: 1000;
        }

         @style
         
    </style>
}
@section scripts
{
<script src="@Url.Content("~/Scripts/StringPropetype.js")"></script>
    <script src="@Url.Content("~/Scripts/ParallaxAnimation.js")"></script>
    <script type="text/javascript">


        $(function () {
            var parallax = new ParallaxAnimation();
            parallax.InitScroll();
            @Html.Raw(animation);
        });


        $(function () {
            $('.slide').on("click", function () {
                if ($(this).is(":last-of-type")) {
                    $('body').animate({ scrollTop: 0 }, $('body').height() * 5, "linear");
                } else {
                    $('body').animate({ scrollTop: $(this).next().offset().top + $(this).next().height() - $(window).height() }, $(this).next().height() * 5, "linear");
                }
            });
        });
    </script>
}

